#!/usr/bin/env xdg-open

[Desktop Entry]
Name=MAPSWITHME
GenericName=MAPSWITHME
Comment=Offline Maps
Exec=/usr/bin/omim
Terminal=false
Type=Application
Icon=/usr/lib/omim/find-location-symbolic.svg
Categories=Network;
MimeType=;